*{
    font-family: 'Noto Sans TC', sans-serif;
}
h2{
    font-size: $h2-font-size;  
    line-height: 36px;
    color: $primary;
    margin-bottom: 0;
}
h3{
    font-size: $h3-font-size;  
    line-height: $line-height-base;
    color: $primary;
    margin-bottom: 0;
}
h4{
    font-size: $h4-font-size;  
    line-height: $line-height-base;
    color: $primary;
    margin-bottom: 0;
}
p, div, li{
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $gray;
    margin-bottom: 0;
}
