.logo-white{
    display: block;
    width: 50px;
    height: 36px;
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;

}
@media(min-width:768px){
    .logo-white{
        width: 66px;
        height: 48px;
    }
}
.icon-fb{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/icon-fb-outline.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.icon-fb:hover{
    background-image: url(../images/icon-fb.svg);
}
.icon-ig{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/icon-ig-outline.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.icon-ig:hover{
    background-image: url(../images/icon-ig.svg);
}
.icon-line{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/icon-line-outline.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.icon-line:hover{
    background-image: url(../images/icon-line.svg);
}
.icon-tripadvisor{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/icon-tripadvisor-outline.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.icon-tripadvisor:hover{
    background-image: url(../images/icon-tripadvisor.svg);
}
.menu-footer{
    display: none;
}
.menu-footer li{
    margin-right: 24px;
}
.menu-footer li:last-child{
    margin-right: 0;
}
.menu-footer li a{
    font-size: $font-size-base;
    line-height: $line-height-sm;
    color: $white;
}
.menu-footer li a:hover{
    color: $secondary;
    font-weight: 500;
}
@media(min-width:768px){
    .menu-footer{
        display: flex;
        align-items: center;
        margin-bottom: 44px;
    }
}
