//Hero
.faq-banner{
    background-image: url(../images/banner-faq.jpg);
}
//Main
.faq .accordion-item{
    background: $white;
    border-radius: $border-radius-sm;
    border-width: 0;
    box-shadow: $box-shadow;
    margin-bottom: 24px;
}
.faq .accordion-item:hover .accordion-button{
    color: $primary;
}
.faq .accordion-item:last-child{
    margin-bottom: 0;
}
.faq h4 .accordion-button{
    color: $primary;
    font-weight: 600;
    background: $white;
    border-radius: $border-radius-sm;
}
.faq h4 .collapsed{
    color: $gray;
    font-weight: 600;
}
.faq .accordion-body{
    color: $primary;
    text-align: justify;
    text-justify:inter-ideograph;
}
@media(min-width:768px){
    .faq h4 .accordion-button{
        font-size: $h4-font-size;  
        line-height: $line-height-base;
    }
}