//Hero
.room-banner{
    background-image: url(../images/room/banner-room.jpg);
}
//Main
.room-service li{
    width: 25%;
    margin-bottom: 24px;
}
.room-service li:nth-last-child(-n+4){
    margin-bottom: 0;
}
.icon-service{
    width: 60px;
    height: 60px;
}
@media(min-width:350px){
    .icon-service{
        width: 72px;
        height: 72px;
    }
}
@media(min-width:768px){
    .room-service li{
        width: 20%;
    }
    .room-service li:nth-last-child(-n+5){
        margin-bottom: 0;
    }
}
@media(min-width:1280px){
    .icon-service{
        width: 90px;
        height: 90px;
    }
}
//room-2people
.room-2people-1{
    background-image: url(../images/room/2people/room-2people-1.jpg);
}
.room-2people-2{
    background-image: url(../images/room/2people/room-2people-2.jpg);
}
.room-2people-3{
    background-image: url(../images/room/2people/room-2people-3.jpg);
}
//room-4people
.room-4people-1{
    background-image: url(../images/room/4people/room-4people-1.png);
}
.room-4people-2{
    background-image: url(../images/room/4people/room-4people-2.jpg);
}
.room-4people-3{
    background-image: url(../images/room/4people/room-4people-3.jpg);
}
//room-6people
.room-6people-1{
    background-image: url(../images/room/6people/room-6people-1.jpg);
}
.room-6people-2{
    background-image: url(../images/room/6people/room-6people-2.jpg);
}
.room-6people-3{
    background-image: url(../images/room/6people/room-6people-3.jpg);
}
//room-multi
.room-multi-1{
    background-image: url(../images/room/multi/room-muliti-1.jpg);
}
.room-multi-2{
    background-image: url(../images/room/multi/room-muliti-2.jpg);
}
.room-multi-3{
    background-image: url(../images/room/multi/room-muliti-3.jpg);
}
//room-female
.room-female-1{
    background-image: url(../images/room/female/room-female-1.jpg);
}
.room-female-2{
    background-image: url(../images/room/female/room-female-2.jpg);
}

.room-female-3{
    background-image: url(../images/room/female/room-female-3.jpg);
}
