.room-name{
    font-weight: 700;
    display: block;
    font-size: $font-size-base * 2;
    line-height:$line-height-sm ;
    color: $green;
    text-align: center;
    margin-bottom: 8px;
}
.per-price{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba($gray, 0.5);
}
.per-price p{
    color: $green;
}
.per-price p:nth-child(1){
    margin-right: 16px;
}
.per-price p:nth-child(2){
    font-size: $font-size-base * 1.5;
    line-height: $line-height-base;
}
.date{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
.checkin,.checkout{
    border-bottom: 1px solid rgba($gray, 0.5);
}
.checkout{
    margin-top: 16px;
}
@media(min-width:576px){
    .date{
        flex-direction: row;
        border-bottom: 1px solid rgba($gray, 0.5);
    }
    .checkin, .checkout{
        width: 50%;
    }
    .checkin{
        border-bottom-width: 0;
    }
    .checkout{
        border-left: 1px solid rgba($gray, 0.5);
        border-bottom-width: 0;
        margin-top: 0;
    }
}
.total-price{
    padding: 16px 16px 20px 16px;
    border-bottom: 1px solid rgba($gray, 0.5);
}
.total-price p:nth-child(1){
    font-weight: 700;
    display: block;
    margin-bottom: 4px;
}
.total-price p:nth-child(2){
    font-weight: 700;
    display: block;
    font-size: $font-size-base * 2;
    line-height:$line-height-sm ;
    color: $green;
    text-align: center;
}
.number, .contact, .tel, .mail, .payment, .message{
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($gray, 0.5);  
}
.check-box{
    padding-top: 12px;
    padding-bottom: 24px;
}
.message{
    height: 180px;
}
.message-box{
    width: 100%;
    height: 80%;
    resize: none;
    border-width: 0;
    padding: 16px;
    color: $gray;
}
@media(min-width:576px){
    .message{
        height: 100%;
    }
    .message-box{
        height: 89%;
    }
}