.card{
    border-width:0;
    box-shadow: $box-shadow ;
    transition: all 0.8s;
    transition-timing-function: ease-in-out;
}
.card:hover{
    box-shadow: $box-shadow-lg ;
}
.card-image{
    overflow: hidden;
}
.image-enlarge{
    transition: all 0.8s;
    transition-timing-function: ease-in-out;
}
.image-enlarge:hover, .image-enlarge:focus{
    transform: scale(1.5);
}
.image-hover-info{
    width: 100%;
    height: 100%;
    background: rgba($primary,0.7);
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}
.image-hover-info p{
    color: $white;
}
.image-hover-info:hover, .image-hover-info:focus{
    opacity: 1;
}
//room-card
.room-card{
    margin-bottom: 32px;
}
.room-card:last-child{
    margin-bottom: 0;
}
.room-card .card-text{
    min-height: 80px;
}
.room-card button{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.room-image{
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
@media(min-width:768px){
    .room-card:last-child{
        margin-bottom: 0;
    }
    .room-card:nth-last-child(2){
        margin-bottom: 0;
    }
    .room-card:nth-last-child(3){
        margin-bottom: 0;
    }
}
//image-card
.image-card a, .image-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-card .card{
    width: 100%;
    margin-bottom: 24px;
}
.image-card h4{
    text-align: center;
}
.image-card{
    margin-bottom: 32px;
}
.image-card:last-child{
    margin-bottom: 0;
}
@media(min-width:576px){
    .image-card:nth-last-child(2){
        margin-bottom: 0;
    }
}
@media(min-width:768px){
    .image-card:nth-last-child(3){
        margin-bottom: 0;
    }
}
