.fs{
    font-size: $font-size-base;//16px
    line-height: $line-height-base;//24px
}
.fs-sm{
    font-size: $font-size-sm ;//14px
    line-height: $line-height-base;//21px
}
.fs-lg{
    font-size: $font-size-lg;//20px
    line-height: $line-height-base;//30px
}
.fs-xl{
    font-size: $font-size-base * 1.5;//24px
    line-height: $line-height-base;//36px
}
.text-justify{
    text-align: justify;
    text-justify:inter-ideograph;
}
//title
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h2{
    text-align: center; 
}
.title .btn{
    padding: 8px 12px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.title .btn p{
    color: $primary;
}
.title .btn:hover p{
    color: $white;
}
.subtitle{
    text-align: center;
}
@media(min-width:576px){
    .title{
        flex-direction: row;
        justify-content: space-between;
    }
    .title h2{
        font-size:$font-size-base * 2.25 ;//36
        line-height: $line-height-base;//54
        text-align: left;
    }
    .title .btn{
        margin-top: 0;
    }
    .subtitle{
        text-align: left;
    }
}
@media(min-width:768px){
    .title h2{
        font-size:$font-size-base * 3 ;//48
        line-height: $line-height-sm;//60
    }
}