.list-disc li {
    display: block;
}
.list-disc li::before{
    content: '';
    background: $gray;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
}